<% layout("layouts/boilerplate.ejs"); -%>

<div class="container">
<div class="row">
    <h1 class="offset-3 mb-3">SignUp on Travelnest</h1>
    <br><br>
    <form method="POST" action="/signup" class="col-6 offset-3 needs-validation mb-3" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text"  name="username" class="form-control" id="username" required autocomplete="username">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" required autocomplete="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" required autocomplete="new-password">
        </div>
        <br>
        <button class="btn btn-success mb-3">Sign Up</button>
    </form>
</div>
</div>